#grey_pop_up{
	display: none;						/*default to be hidden*/
	position: fixed;					/*stays in place*/
	justify-content: center;
	width:100%;
	height:100%;
	z-index:1; 							/*Makes this the top layer */
	top: 0px;
	background-color:rgba(0,0,0,0.7);	/*semi-opaque black*/
}

#comment_block{
	position: fixed;
	align-items: center;			/*vertical align contents*/
	margin-top: 25vh;
	margin-left: 15vw;
	width: 70vw;
	height: 65vh;
	z-index:1;
	background: white;
	padding:2%;
	border-radius: 10px;
}

title {
	text-align: center;
}

h2 {
	padding: 1%;
	text-align: center;
	color: white;


}
h3 {
	padding: 1%;
}
table {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse:
			collapse; border-spacing: 0;

}

td, th {
	border: 1px solid transparent; /* No more visible border */
	height: 30px;
	transition: all 0.3s;  /* Simple transition for hover effect */
	text-align: center;
}

th {

	font-weight: bold;
	font-size: 90%;
}

td {
	background: #FAFAFA;
	text-align: center;
	font-size: 75%;
}



/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

.clickable:hover{
	background-color: #a9a9a9;
}
.clickable{
	cursor:pointer;
	text-decoration: underline;

}



